@model Hospital.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staffs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staffs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PatientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
